.bigChat {
    padding-bottom: 2px;
    border: 1px solid rgba(0,0,0,.2);
    background-color: #ffffff;
    border-radius: 0.8rem;
    height: 420px; /*445*/
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
}


* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
}

.chatbox {
    width: 95%;
    height: 96%;
    background: #fff7ce;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0px #ccc;
}

.chatlogs {
    padding: 10px;
    width: 100%;
    height: 100%;
    background: #fffff3;
    overflow-x: hidden;
    overflow-y: scroll;
}

    .chatlogs::-webkit-scrollbar {
        width: 10px;
    }

    .chatlogs::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: rgba(0,0,0,.1);
    }

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

    .chat .user-photo {
        width: 30px;
        height: 30px;
        background: #ccc;
        border-radius: 50%;
        overflow: hidden;
    }

        .chat .user-photo img {
            width: 100%;
        }


    .chat .chat-message {
        width: 95%;
        padding: 10px;
        margin: 5px 10px 0;
        border-radius: 10px;
        color: #fff;
        font-size: 14px;
    }

.helpdesk .chat-message {
    background: #0062ff;
}

.self .chat-message {
    background: #00bdce;
    order: -1;
}

.chat-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

    .chat-form textarea {
        background: #fbfbfb;
        width: 100%;
        height: 50px;
        border: 2px solid #bcbbbb;
        border-radius: 3px;
        resize: none;
        padding: 10px;
        font-size: 16px;
        color: #333;
    }

        .chat-form textarea:focus {
            background: #fff;
        }

        .chat-form textarea::-webkit-scrollbar {
            width: 10px;
        }

        .chat-form textarea::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: rgba(0,0,0,.1);
        }


    .chat-form button {
        background: #3a34ff;
        padding: 5px 5px;
        font-size: 24px;
        color: #fff;
        border: none;
        margin-left: 5px;
        border-radius: 3px;
        box-shadow: 3px 4px 2px #949494;
        cursor: pointer;
        -webkit-transition: background .2s ease;
        -moz-transition: background .2s ease;
        -o-transition: background .2s ease;
    }

        .chat-form button:hover {
            background: #13c8d9;
        }

.senderClass {
    background: #fbfbfb;
    width: 50%;
    height: 35px;
    border: 2px solid #bcbbbb;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

.chatPage {
    text-align: left;
    font-size: 18px;
    margin-left: 22px;
}


@media (max-height: 568px) {
    .bigChat {
        height: 355px;
    }

    .chatbox {
        height: 92%;
    }

    .chatlogs {
        height: 100%;
    }

    .chat-form textarea {
        font-size: 14px;
    }
}

@media (max-height: 600px) {
    .bigChat {
        height: 375px;
    }

    .chatbox {
        height: 95%;
        width: 92%;
    }

    .chatlogs {
        height: 100%;
    }
}

@media (min-height: 601px) {
    .bigChat {
        height: 440px;
    }

    .chatbox {
        height: 96%;
        width: 92%;
    }

    .chatlogs {
        height: 100%;
    }
}
bodbody {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    background: rgba(0, 0, 0, 0.76);
    color: #757575 !important;
    font-weight: 500 !important;
    line-height: 1.8 !important;
}

a {
    text-decoration: none !important;
}

h1, h2, h3 {
    font-family: 'Kaushan Script', cursive;
}


.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #f7f7f7;
    background-clip: padding-box;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    height: 100%;
}

.tx-tfm {
    text-transform: uppercase;
}

.mybtn {
    border-radius: 50px;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}


form.error {
    color: #ff0000;
}

.btn-primary {
    color: #000 !important;
    background-color: #d5d6d8 !important;
    border-color: #6b6c6c !important;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-weight: 500 !important;
}

.scrollTableCompletedJourneys {
    font-size: 12px;
    color: #003fff;
}

.myTable {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
}

@media (min-height: 500x) {

    .myTable {
        height: 285px;
    }
}

@media (max-height: 569px) {

    .myTable {
        max-height: 285px;
    }
}

@media (min-height: 570x) {

    .myTable {
        height: 365px;
    }
}

@media (max-height: 641px) {

    .myTable {
        height: 365px;
    }
}

@media (min-height: 642px) {

    .myTable {
        height: 450px;
    }
}

@media (max-height: 732px) {

    .myTable {
        height: 370px;
    }
}

@media (min-height: 733px) {

    .myTable {
        height: 450px;
    }
}


@media (max-width: 330px) {
    .inputSearchJourneys {
        width: 120px;
    }

    .btn-primary {
        width:165px!important;
    }
}


/*INSERTED*/

bodbody {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    background: rgba(0, 0, 0, 0.76);
    color: #757575 !important;
    font-weight: 500 !important;
    line-height: 1.8 !important;
}

a {
    text-decoration: none !important;
}

h1, h2, h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.2rem !important;
}


.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff6000f;
    background-clip: padding-box;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    height: 100%;
}

.tx-tfm {
    text-transform: uppercase;
}

.mybtn {
    border-radius: 50px;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}


form.error {
    color: #ff0000;
}

.btn-primary {
    color: #000 !important;
    background-color: #d5d6d8 !important;
    border-color: #6b6c6c !important;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-weight: 500 !important;
}

.manageVehicle-form {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;
}

.labelmanageVehicleId {
    padding: 5px;
    margin-right: 31px;
}

.labelmanageVehicleLicense {
    padding: 5px;
    margin-right: 10px;
}

.searchVehicle {
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.myTableManageVehicle {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
    font-size: 13px;
}

.manageVehicleLicensePlateClass {
    padding-top: 23px !important;
}

.vehicleCheckBox {
    margin-top: 17px;
}

@media (min-height: 500px) {
    .myTableManageVehicle {
        height: 100%;
    }
}

@media (max-height: 569px) {

    .myTableManageVehicle {
        height: 285px;
    }
}

@media (min-height: 570x) {

    .myTableManageVehicle {
        height: 365px;
    }
}

@media (max-height: 641px) {

    .myTableManageVehicle {
        height: 236px;
    }
}

@media (min-height: 642px) {

    .myTableManageVehicle {
        height: 310px;
    }
}

@media (max-height: 730px) {

    .myTableManageVehicle {
        height: 300px;
    }
}

@media (min-height: 731px) {

    .myTableManageVehicle {
        height: 350px;
    }
}

@media (max-width: 311px) {

    .searchVehicle {
        width: 100%;
    }
}

.myClass {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.dropbtn {
    top: 20px;
    right: 35px;
    background-color: #f1f3f5;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: white;
    }

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    left: -65px;
    background-color: #ffffff;
    width: 170px;
    box-shadow: 1px 2px 10px 1px;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 10px 20px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: white;
}

.show {
    display: block;
}

.myHover {
    background-color: #ebebeb;
    font-size: 17px;
}

.myHover2 {
    background-color: #dddddd;
    font-size: 17px;
    font-weight: bold;
}

.center {
    margin: auto;
    padding: 10px;
    font-size: 35px;
    font-family: Arial;
    width: 180px;
}

.fa-bars {
    font-size: 2.2em;
    color: black;
}

.text-center {
    text-align: center;
    margin-top: 6px;
    margin-bottom: -1rem;
}

.headerJourney {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titleJourney {
    font-size: 25px;
}

.bigTablePickList1 {
    border-radius: 0.5rem;
    margin-bottom: 15px;
    margin-left: 5px;
    background-color: #e8e8e8;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 30px;
    width: 25%;
    font-size: 15px;
}

.optionCar {
    font-size: 10px;
    margin: 10px;
    background-color: white;
}

.titleRegisterTrip {
    font-size: 25px;
    margin-bottom: 5px;
}

.formNewJourney {
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
}

.formInputData {
    border-radius: 2px;
    margin-left: 5px;
    flex: 1;
}

.formInputSM {
    border-radius: 10px;
    margin-left: 5px;
    flex: 1;
}

.formInputEM {
    border-radius: 10px;
    margin-left: 5px;
    flex: 1;
}

.formInputJL {
    border-radius: 2px;
    margin-left: 5px;
    flex: 1;
}

.formInputSA {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    flex: 1;
}

.formInputNo {
    border-radius: 10px;
    margin-left: 2px;
    width: 35px;
}

.formInputEA {
    border-radius: 10px;
    margin-left: 5px;
    flex: 1;
}

.formInputMC {
    border-radius: 2px;
    margin-left: 5px;
    flex: 1;
}

.formInputMN {
    height: 55px;
    flex: 1;
    border: 1.5px solid #ababab;
}

.savePartialJourneyClass {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: 1.25rem;
}

.myerror {
    color: red;
}


@media (max-width: 435px) {
    .formInputData {
        width: 100px;
    }

    .formInputSM {
        width: 100px;
    }

    .formInputEM {
        width: 100px;
    }

    .formInputJL {
        width: 100px;
    }

    .formInputSA {
        width: 100px;
    }

    .formInputNo {
        width: 20px;
    }

    .formInputEA {
        width: 100px;
    }

    .formInputMC {
        width: 100px;
    }

    .formInputMN {
        width: 100px;
    }

    .savePartialJourneyClass {
        width: 100px;
    }

    .btn {
        font-size: 0.77rem !important;
        margin-top: 10px;
    }
}

@media (max-height: 668px) {
    .btn {
        font-size: 0.77rem !important;
        margin-top: 10px;
    }
}

@media (max-height: 600px) {

    .myform {
        height: 480px;
    }

    .formInputData {
        height: 25px;
    }

    .formInputSM {
        height: 25px;
    }

    .formInputEM {
        height: 25px;
    }

    .formInputJL {
        height: 25px;
    }

    .formInputSA {
        height: 25px;
    }

    .formInputNo {
        height: 25px;
    }

    .formInputEA {
        height: 25px;
    }

    .formInputMC {
        height: 25px;
    }

    .formInputMN {
        height: 25px;
    }

    .btn {
        font-size: 0.57rem !important;
        margin-top: 10px;
    }
}

@media (max-height: 568px) {

    .myform {
        height: 470px; /*??????????????????????*/
    }

    .label {
        margin-bottom: 3px;
    }

    .formNewJourney {
        margin-bottom: 3px;
    }

    .formInputJL {
        height: 25px;
    }

    .formInputMN {
        height: 25px;
    }

    .btn {
        font-size: 0.57rem !important;
        margin-top: 5px;
    }
}


@media (max-height: 480px) {

    .myform {
        height: 375px;
    }

    .label {
        margin-bottom: 1px;
    }

    .formNewJourney {
        margin-bottom: 1px;
        font-size: 12px;
    }

    .formInputJL {
        height: 25px;
    }

    .formInputMN {
        height: 25px;
    }

    .btn {
        font-size: 0.57rem !important;
        margin-top: 1px;
    }
}

@media (min-width: 768px) {
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 100% !important;
    }

    .btn {
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 100% !important;
    }

    .btn {
        margin-top: 10px;
    }
}


.form-gap {
    padding-top: 70px;
}

.h2 {
    font-size: 2.2rem !important;
}

.btn-primary {
    color: #fff !important;
    width: 170px !important;
    height: 33px !important;
    font-weight: bold !important;
    font-size: 11px !important;
    margin-top: 1px;
    border-radius: 8px !important;
    background-color: #0055ff !important;
    border-color: #a2a2a2 !important;
}

.iconPdf {
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formDataReport {
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
}


.formInputDataStart {
    border-radius: 2px;
    margin-left: 6px;
    flex: 1;
}

.formInputDataEnd {
    border-radius: 2px;
    margin-left: 6px;
    flex: 1;
}

.formChartReport {
    height: 75px;
    border: 1.5px solid #ababab;
    flex: 1;
}

.formInputChartReport {
    height: 140px;
    flex: 1;
    border: 1.5px solid #ababab;
    width: 95%;
    margin: 10px;
    margin-top: 15px;
    background-color: #f0f0f0;
}

.titleLocalReport {
    font-size: 22px;
    margin-left: 5px;
    margin-top: 10px;
}

.myHover {
    background-color: #ebebeb;
    font-size: 17px;
}

.myHover2 {
    background-color: #dddddd;
    font-size: 17px;
    font-weight: bold;
}

.smallTablePickList {
    text-align: center;
    border-radius: 0.5rem;
    margin-bottom: 8px;
    margin-left: 1px;
    background-color: #f7f7f7;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 28px;
    width: 45%;
    font-size: 13px;
    flex: 1

}

.login-eller {
    position: relative;
    color: #aaa;
    margin-bottom: 2px;
    padding-top: 1px;
    padding-bottom: 10px;
}

.span-eller {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-eller {
    height: 3px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.customizeReport {
    margin-left: 5px;
    padding-bottom: 5px;
    font-size: 17px;
}

.customizeReportTable {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 85%;
    pointer-events: auto;
    background-color: #daaa7312;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    padding-top: 10px;
    padding-bottom: 5px
}

.formDataReport {
    padding-bottom: 5px;
}

.submitCustomizedReport {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.canvasClass {
    height: 100%;
    width: 100%;
    padding: 12px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 435px) {
    .smallTablePickList{
        width:25%;
    }
    .formInputDataStart {
        width: 100px;
    }
    .formInputDataEnd {
        width: 100px;
    }
}

@media (min-width: 436px) {
    .customizeReportTable {
        max-height: 365px;
    }
    .canvasClass {
        max-height: 350px;
        max-width: 350px;
    }
}

@media (max-height: 569px) {

    .customizeReportTable {
        max-height: 80%;
    }
    .canvasClass {
        max-height: 115%;
    }
}

@media (max-height: 600px) {

    .customizeReportTable {
        max-height: 90%;
    }
    .canvasClass {
        max-height: 240px;
        max-width: 240px;
    }
}





.bigTable {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    color: #fa0000;
    border: 1px solid rgba(0,0,0,.2);
    background-color: #fffdd9;
    border-radius: 1.1rem;
    height: 360px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 100%;
}

.ongoingTripTitle {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #6f6f6f;
    text-align: center;
    padding: 5px;
}

.ongoingTripValues {
    background-color: #fffef0;
    color: black;
    padding: 10px;
    text-align: left;
    border: 1px solid rgba(161, 161, 161, 0.2);
    margin: auto;
    max-width: 85%;
    height: 232px;
    overflow: auto;
}

.btn-block {
    width: 60%;
}

.scrollTable {
    font-size: 14px;
    color: #ff0000;
}

.inputSearchPartialJourneys {
    width: 120px;
    height: 25px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 20px;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6 !important;
    border-bottom: 0px solid #dee2e6 !important;
}

.userConnectedButton {
    background-color: #ff0000ad !important;
}


@media (min-height: 500x) {
    .bigTable {
        height: 285px;
    }

    .scrollTable {
        font-size: 10px;
    }
}

@media (max-height: 569px) {

    .bigTable {
        max-height: 320px;
    }

    .ongoingTripValues {
        max-height: 255px;
    }

    .scrollTable {
        font-size: 10px;
    }
}

@media (min-height: 570x) {

    .bigTable {
        height: 365px;
    }

    .scrollTable {
        font-size: 10px;
    }
}

@media (max-height: 641px) {

    .bigTable {
        height: 365px;
    }

    .scrollTable {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .inputSearchPartialJourneys {
        width: 80px;
    }
}
