bodbody {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    background: rgba(0, 0, 0, 0.76);
    color: #757575 !important;
    font-weight: 500 !important;
    line-height: 1.8 !important;
}

a {
    text-decoration: none !important;
}

h1, h2, h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.2rem !important;
}


.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff6000f;
    background-clip: padding-box;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    height: 100%;
}

.tx-tfm {
    text-transform: uppercase;
}

.mybtn {
    border-radius: 50px;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}


form.error {
    color: #ff0000;
}

.btn-primary {
    color: #000 !important;
    background-color: #d5d6d8 !important;
    border-color: #6b6c6c !important;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-weight: 500 !important;
}
